{% extends "layout.html" %}
{% block content %}


<!--

<script type="text/javascript">
  $(function() {
    $("#submitBtn").click(function() {


         $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/processor",
            contentType: "application/json; charset=utf-8",
            data: { echoValue: $('input[name="echoText"]').val() },
            success: function(data) {
                $('#echoResult').text(data.cpu);
            }
        });     



    });
  });
</script>
<strong>Enter a value to echo back:</strong>
<input type="text" size="10" id="echoText" name="echoText">
<button type="button" id="submitBtn" name="submitBtn">Submit via AJAX</button><br><br>

-->
<strong><div id="echoResult"></div></strong>



<script language="JavaScript"> 
setInterval( "updateMyContent();", 5000 ); 
$(function() { 
       updateMyContent = function(){ 


         $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/processor",
            contentType: "application/json; charset=utf-8",
            data: { echoValue: $('input[name="echoText"]').val() },
            success: function(data) {
                $('#echoResult').text(data.cpu);
            }
        });     






       } 
}); 
</script>
<strong><div id="refreshData"></div></strong>




{% endblock %}