{% extends "layout.html" %}
{% block content %}


<body>


<!-- CPU Usage -->
<div class="container">
<br><br>

<font size="3"><b><div id="echoResult"> CPU Usage: Updating</div></b> </font><br>
<br><br>
</div>

<!-- Uptime -->
<div class="container">


<font size="3"><b>{{up2}}</b> </font><br>
<br><br>
</div>



<!-- Hard drive -->
<div class="container">

<font size="4">  <b>Hard Drive Space</b> </font><br><br><br>

{% for r in data %}
       <font size="3"> Path <b>{{ r['pathused'] }}</b> </font><br>
       <font size="3"> Total Disk Size <b>{{ r['total'] }}</b> </font><br>
       <font size="3"> Used Disk Space <b>{{ r['used'] }}</b> </font><br>
       <font size="3"> Free Disk Space <b>{{ r['free'] }}</b> </font><br>
<br><br>
{% endfor %}

<br><br><br>

</div>



<!--
###################
Scripts Below
###################
-->

<script language="JavaScript"> 
setInterval( "updateMyContent();", 5000 ); 
$(function() { 
       updateMyContent = function(){ 


         $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/processor",
            contentType: "application/json; charset=utf-8",
            data: { echoValue: $('input[name="echoText"]').val() },
            success: function(data) {
                $('#echoResult').text("CPU Usage: "+data.cpu+"%");
            }
        });     


       } 
}); 
</script>





</body>
{% endblock %}